<h1> {{action}} vantagens</h1>
<form method="post">
  {% csrf_token %}
  <div>
    <label>Título:</label>
    <input name="title" value="{{vant.title}}">
  </div>

  <div>
    <label>Argumento:</label>
    <input name="argumento" value="{{vant.argumento}}">
  </div>

  <div>
    <label>Trabalho:</label>
    <input name="vanttrabalho" value="{{vant.vanttrabalho}}">
  </div>

  <div>
    <label>Lazer:</label>
    <input name="vantlazer" value="{{vant.vantlazer}}">
  </div>

  <input type="submit" value="Registrar">
</form>